html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    background: gray;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding : 40px;
    /* need to add background-image, background-size: 100%, background-position:center */
}

header .logo{
    list-style-type: none;
}

header .logo a{
    background-color: white;
    width: 300px;
    display: inline-block;
    height: 300px;
    text-indent: -99999999px;
    position: relative;
    background-image: url("./Pictures/prof-pic-edited.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    top: 20px;
    border-radius: 70px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
    padding: 20px; 
    margin: 0; 
}

nav{
    background: red;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none; 
    color: black;
    padding: 10px;
}

section{
    background: lightblue;
    line-height: 20px;
    padding: 10px;
}

footer{
    background: gray;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}

img {
    max-width: 150px;
    border-radius: 50%;
}

div a {
    color: black;
}

footer a {
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.left, .center, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.left, .right {
    flex: 1;
}

.center {
    flex: 2;
}