*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .profpic{
    width: 250px;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: white 0 0 15px;
    margin-right: 60px;
}

nav .picANDdetails{
    display: flex;
    align-items: center;
}

nav .navigation li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav .navigation li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
}

nav .navigation li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

nav .information li{
    list-style: none;
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    transition: 0.5s;
}

nav .information li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav .information li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}